---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

:root {
	--primary-colour: cornflowerblue;
	--secondary-colour: midnightblue;
	--tiles-per-row: 7;
}

.nav__text--name,
.about--header,
.project__name {
	font-family: "Oswald";
}

.nav__text--role,
.about--description,
.project__description {
	font-family: "Exo 2";
}

/*@font-face {
	font-family: 'Exo2';
	font-style: normal;
	src: url(../fonts/Exo_2/Exo2-Regular.ttf); 
}

@font-face {
	font-family: 'Oswald';
	font-style: normal;
	src: url(../fonts/Oswald/Oswald-Regular.ttf);
}*/

body {
	margin: 0px;
	/*background-color: var(--secondary-colour);*/
	background-color: midnightblue;
}

@media only screen and (min-width: 800px) {
	body {
		max-width: 960px;
		margin: auto;
	}
}

@media only screen and (min-width: 640px) {
	:root {
		--tiles-per-row: 8;
	}
}

@media only screen and (max-width: 639px) {
	:root {
		--tiles-per-row: 6;
	}
}

* {
	line-height: 1.618em;
}

.nav {
	height: 23rem;
}

.nav__title {
}

.nav__text {
	clip-path: url(#shape);
	/*background-color: var(--secondary-colour);*/
	max-width: 20em;
	height: 20em;
	/*color: var(--primary-colour);*/
	background-color: midnightblue;
	color: cornflowerblue;
}


.nav__text--name {
	font-size: 2.75em;
	margin:0px;
}


.nav__text--role {
	font-size: 1.75em;
	/*color: var(--primary-colour);*/
	color: cornflowerblue;
}


.nav__tiles {
	display: flex;
	transform: skewY(-5deg);
	top: -23rem;
	position: relative;
	z-index: -1;
	align-items: flex-end;
}

.nav__bar {
	width: 100%;
	height: 300px;
	background-color: blue;
	clip-path: url(#shape);
}

.nav__tile {
	animation: col 7000ms infinite; 
	height: 100px;
	width: 100px;
	flex: 1 1 auto;
	animation-direction: alternate;
	background-color: hsl(200, 99%, 55%);
	margin: -1px -1px -1px 0px;
}

@keyframes col {
	from {
		background-color: hsl(200, 99%, 55%);
	}
	to {
		background-color: hsl(220, 90%, 65%);
	}
}

.links-bar {
	top: -400px;
	position: relative;
	transform: skewY(-5deg);
}

.links-bar__list {
	display: flex;
	justify-content: space-around;
	list-style: none;
}

.link {
	padding: 1.5rem;
	font-size: 2em;
	/* background-color: var(--secondary-colour);
	color: var(--primary-colour); */
	background-color: midnightblue;
	color: cornflowerblue;
	font-family: "Exo 2";
	transition: font-size 0.4s, color 0.4s, background-color 0.4s;
}

.link:hover {
	font-size: 2.5em;
	/*background-color: var(--primary-colour);
	color: var(--secondary-colour);*/
	background-color: cornflowerblue;
	color: midnightblue;
}

a {
	color: lightskyblue;
}

.about {
	font-size: 2rem;
	/*color: var(--primary-colour);*/
	color: cornflowerblue;
	margin: 2em 1em;
}

.about--description {
}

.about--description::first-letter {
	font-size: 1.75em;
}

.about--header {
	text-align: center;
	font-size: 1.75em;
}

.about__intro,
.about__experience {
	margin: 2em 0em;
}

.about__experience {
	transform: skewY(5deg);
	/*background-color: var(--primary-colour);
	color: var(--secondary-colour);*/
	background-color: cornflowerblue;
	color: midnightblue;
	margin: 3em 0em;
	padding: 0.15em 0em;
}

.about__test {
	transform: skewY(-5deg);
	background-color: none;
	padding: 0em 1em;
}

.about__tail {
	transform: skewY(-10deg);
	/*background-color: var(--primary-colour);*/
	background-color: cornflowerblue;
	width: 100%;
	height: 200px;
	position: absolute;
	top: 300px;
	z-index: -1;
}

.about__experience--skills {
	list-style: none;
	column-count: 3;
	column-width: auto;
	text-align: center;
	/*column-rule: medium solid var(--secondary-colour);*/
	column-rule: medium solid midnightblue;
}

.about__projects {
	margin: 5em 0em;
}

.project {
	display: flex;
	justify-content: space-between;
	margin: 2em 0em;
}

.project:nth-child(even) {
	flex-direction: row-reverse;
}

.project__description {
	font-size: 1.45rem;

}

.fake-image {
	width: 200px;
	height: 150px;
	background-color: purple;
	flex: 0 0 auto;
}

.footer {
	height: 5rem;
	font-size: 1.5em;
	padding: 1em;
	/*background-color: var(--primary-colour);
	color: var(--secondary-colour);*/
	background-color: cornflowerblue;
	color: midnightblue;
	font-family: "Oswald";
}

.post__header {
	font-family: "Oswald";
	font-size: 3.5em;
	/*color: var(--primary-colour);*/
	color: cornflowerblue;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.post__title,
.post__date {
	margin: 0em;
}

.post__date {
	font-size: 1.5rem;
}

.post__content {
	font-family: "Exo 2";
	font-size: 1.5em;
	/*color: var(--primary-colour);*/
	color: cornflowerblue;
	background-color: #202020;
	padding: 1em;
}

.post__content > p {
	text-indent: 2em;
}

img {
	max-width: 100%;
	display: block;
}

@supports (--foo: blue) {

	body {
		background-color: var(--secondary-colour);
	}

	.nav__text {
		background-color: var(--secondary-colour);
		color: var(--primary-colour);
	}

	.nav__text--role {
		color: var(--primary-colour);
	}

	.link {
		background-color: var(--secondary-colour);
		color: var(--primary-colour); 
	}

	.link:hover {
		background-color: var(--primary-colour);
		color: var(--secondary-colour);
	}

	.about {
		color: var(--primary-colour);
	}

	.about__experience {
		background-color: var(--primary-colour);
		color: var(--secondary-colour);
	}

	.about__tail {
		background-color: var(--primary-colour);
	}

	.about__experience--skills {
		column-rule: medium solid var(--secondary-colour);
	}

	.footer {
		background-color: var(--primary-colour);
		color: var(--secondary-colour);
	}

	.post__header {
		color: var(--primary-colour);
	}
	
	.post__content {
		color: var(--primary-colour);
	}
}
