---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

body {
	margin: 0px;
	background-color: midnightblue;
	/*indigo, mediumblue, royalblue*/
}

.nav {
	/*display: flex;*/
	height: 400px;
}

.nav__title {
}

.nav__text {
	clip-path: url(#shape);
	background-color: hsl(180, 20%, 40%);
	height: 20em;
}

.nav__text--name {
	font-size: 2.75em;
}

.nav__text--role {
	font-size: 1.75em;
}

.nav__tiles {
	display: flex;
	transform: skewY(-5deg);
	background-color: grey;
	height: 350px;
	top: -400px;
	position: relative;
	z-index: -1;
	flex-wrap: wrap;
	align-items: flex-end;
}

.nav__bar {
	width: 100%;
	height: 300px;
	background-color: blue;
	clip-path: url(#shape);
}

.nav__tile {
	animation: col 7000ms infinite; 
	height: 100px;
	width: 100px;
	flex: 1 0 auto;
	animation-direction: alternate;
	background-color: hsl(200, 99%, 55%);
}

@keyframes col {
	from {
		background-color: hsl(200, 99%, 55%);
	}
	to {
		background-color: hsl(220, 90%, 65%);
	}
}

a {
	color: lightskyblue;
}

.about {
	font-size: 2rem;
	color: cornflowerblue;
	margin: 2em 1em;
}

.about--description::first-letter {
	font-size: 1.75em;
}

.about--header {
	text-align: center;
	font-size: 1.75em;
}

.about__intro,
.about__experience {
	margin: 2em 0em;
}

.about__experience {
	transform: skewY(5deg);
	background-color: cornflowerblue;
	color: midnightblue;
	margin: 3em 0em;
	padding: 0.15em 0em;
}

.about__test {
	transform: skewY(-5deg);
	background-color: none;
	padding: 0em 1em;
}

.about__tail {
	transform: skewY(-10deg);
	background-color: cornflowerblue;
	width: 100%;
	height: 200px;
	position: absolute;
	top: 300px;
	z-index: -1;
}

.about__experience--skills {
	list-style: none;
	column-count: 3;
	column-width: auto;
	text-align: center;
	column-rule: medium solid black;
}

.about__projects {
	margin: 5em 0em;
}

.project {
	display: flex;
	justify-content: space-between;
	margin: 2em 0em;
}

.project:nth-child(even) {
	flex-direction: row-reverse;
}

.project__description {
	font-size: 1.45rem;

}

.fake-image {
	width: 200px;
	height: 150px;
	background-color: purple;
	flex: 0 0 auto;
}

.footer {
	height: 5rem;
	font-size: 1.5em;
	padding: 1em;
	background-color: cornflowerblue;
}
